:root {
    --color1: #506D8F;
    --color2: #EDE9E6;
}

.text-overlay .heading {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
}

/* Why I Wrote This Book */
.width-24 {
    width: 100%;
    max-width: 24%;
}
.width-90 {
    width: 100%;
    max-width: 69%;
}
